{% extends 'layout.html' %}

{% block body %}
<br>
      <div class="jumbotron">
       <center> <h1>WELCOME TO MATHSAPP!</h1></center>
        <p class="lead">Looking forward to get all your maths problem solved?, if yes, then come in select a category and let's get started. </p>
       <br>
          {% if not session.logged_in %}
          <center> <P><a class="btn btn-lg btn-success"  href="/register" role="button">Sign up today</a></p></center>
          {% else %}
<center> <i><a class="btn btn-lg btn-success"  href="/sign2" role="button">Creat a topic &raquo;</a></i></center>
          {% endif %}
      </div>

{% for category, message in get_flashed_messages(with_categories=true)%}
<div class="alert alert-success">{{message}}
</div>
{% endfor %}

            {% for r in result %}

<div class=" well-centered">
    <h5 class='lead'> <b>{{ r.title }}</b></h5>


    </div><small><i> posted on {{r.date_posted.strftime('%B %d, %Y')}}</i> by {{session.username}}</small>
<div class="jumbotron">

    <p> {{r.content}}</p><hr><br>

</div>


    <i><a class=" btn btn-primary pull-right"  href="{{url_for('comment', post_id=2)}}" role="button">comment &raquo;</a></i>


  {% endfor %}

{% if session.logged_in %}
<br> <p><a class="btn btn-lg btn-success"  href="/sign2" role="button">START A NEW DISCUSSION</a></p>
{% else %}
<br> <p><a class="btn btn-lg btn-success"  href="/sign" role="button">START A NEW DISCUSSION</a></p>
{% endif %}

{% endblock %}