{% extends 'layout.html' %}

{% block body %}
    <div class='jumbotron'>
        <h5>HELP CENTERS</h5>
        <BR>
        <h>'call':091-888-432</h>
        <br>
    call:55666778899-09

    <h3>contact tymaths graphics at<a href="/"> :http/ty.com</a></h3></div>

</div>
<div class='container'>
    <div class='row'>
    <div class='col-sm-8 blog-main'>
        <form method='POST' action='contact'>
            <div class='form-group'>
               <label> TITTLE</label>
                <input type='text' class='form-control' name='title1' id='title'>
            </div>
             <div class='form-group'>
               <label>MESSAGE</label>
                <textarea  class='form-control' rows='4' name='content1' placeholder="" id='content'></textarea>
            </div>
               <button type='submit' class='btn btn-success'>SUBMIT</button>
        </form>
    </div>
    </div></div>



{%endblock %}

