{% extends 'layout.html' %}

{% block body %}
<body>
<br>
{% for category, message in get_flashed_messages(with_categories=true)%}
<div class="alert alert-{{category}}">{{message}}
</div>
{% endfor %}

{% if error%}
<div class="alert alert-danger">{{error}}
</div>{% endif%}
<div class="jumbotron">
<h6><i>WELCOME, {{session.username}}</i></h6>
     <div ><br>
    <h5 class="blog-tittle"> ADD A COMMENT TO THE FORUM</h5></div>



</div>
<div class='container'>
    <div class='row'>
    <div class='col-sm-8 blog-main'>
        <form method='POST' action='/process'>
            <div class='form-group'>
               <label> TITTLE</label>
                <input type='text' class='form-control' name='title' id='title'>
            </div>
             <div class='form-group'>
               <label>CONTENT</label>
                <textarea  class='form-control' rows='5' name='content' placeholder="content" id={{editor}}></textarea>
            </div>
            <button type='submit' class='btn btn-success'>SUBMIT</button> <br>
           <br> <a type='submit' class='btn btn-primary' href="/uploads">UPLOAD A FILE</a>
        </form>
    </div>
    </div></div>
{% endblock %}

